main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    width: 300px;
    margin: auto;
}

.play-spot {
    background-color: transparent;
    border: solid 2px black;
    height: 100px;
    width: 100px;
}

.hidden {
    display: none;
}